@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

* {
  user-select: none;
}

body {
  background-color: #070707;
}

/* WAI Card */

.wai-card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 3.8rem;
  color: white;
}

.wai-card-subtitle {
  color: white;
}

.wai-card-img {
  background-color: rgb(245, 245, 245);
}

/* WID Card */

.wid-card-title {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.wid-card-subtitle {
  color: black;
}